<div class="nav navbar navbar-fixed-top">
    <ul class="nav navbar-right nav-tabs">
        <li><a href="">Write!</a></li>
        <li><a href="">Authors</a></li>
        <li><a href="">Stories</a></li>
    </ul>
</div>

    <div class="footer-space writing-area">
    <div class="row " ng-repeat="entry in controller.activeStory.entries">
        <div class="col-md-12 classy">
            {{entry.content}}
        </div>
    </div>
</div>

    <div class="nav navbar navbar-fixed-bottom" >

        <div class="panel-body">
            <input ng-click="controller.submitEntry(newEntry)" type="button"value="submit" />
            <textarea class="center" ng-model="newEntry" placeholder="what will happen next..."></textarea>
        </div>
    </div>
