<div class="nav navbar navbar-fixed-top">
    <ul class="nav navbar-right nav-tabs">
        <li class="active"><a href="">Write!</a></li>
        <li><a href="">Authors</a></li>
        <li><a href="">Stories</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <a href="">
            <div class="box one">
                <span class="glyphicon glyphicon-pencil"> </span>
                <p>Keep Writing</p>
            </div>
        </a>
    </div>


    <div class="col-sm-12
         col-md-6">
        <a href="">
            <div class="box two">
                <span class="glyphicon glyphicon-plus"> </span>
                <p>New Story</p>
            </div>
        </a>
    </div>

</div>


