<div class="nav navbar navbar-fixed-top">
    <ul class="nav navbar-right nav-tabs">
        <li><a href="">Write!</a></li>
        <li><a href="">Authors</a></li>
        <li class="active"><a href="">Stories</a></li>
    </ul>
</div>

<div class="footer-space tiny-button">
    <span class="glyphicon glyphicon-plus">create a new story</span>
</div>

<div class="footer-space">
    <div class="row" ng-repeat="story in controller.story">
        <div class="col-md-12">

            <a href="#/activeStory/{{story.id}}">{{story.prompt}}</a>
        </div>
    </div>
</div>
